<?xml version="1.0"?>
<robot name="diffbot" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <material name="blue">
    <color rgba="0 0 1 1" />
  </material>

  <material name="black">
    <color rgba="0 0 0 1" />
  </material>

  <material name="gray">
    <color rgba="0.5 0.5 0.5 1" />
  </material>

  <link name="world_link"/>

  <link name="base_link">
    <visual>
      <geometry>
        <box size="1 0.25 0.5"/>
      </geometry>
      <material name="blue" />
    </visual>

    <collision>
      <geometry>
        <box size="1 0.25 0.5"/>
      </geometry>
    </collision>

    <inertial>
      <mass value="5"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia ixx="0.0.13021" ixy="0.0" ixz="0.0" iyy="0.52083" iyz="0.0" izz="0.44271"/>
    </inertial>
  </link>

  <joint name="world_to_base" type="fixed">
    <parent link="world_link"/>
    <child link="base_link"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>


  


</robot>
