<robot name="two_link_robot">

  <!-- Dummy root link -->
  <link name="base_link">
    <visual>
      <geometry>
        <box size="0.01 0.01 0.01"/>
      </geometry>
      <material name="grey">
        <color rgba="0.5 0.5 0.5 1"/>
      </material>
    </visual>
  </link>

  <!-- Actual base -->
  <link name="link_1">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1.0"/>
      <inertia ixx="0.01" ixy="0" ixz="0" iyy="0.01" iyz="0" izz="0.01"/>
    </inertial>
    <visual>
      <geometry>
        <box size="1 1 1"/>
      </geometry>
      <material name="blue">
        <color rgba="0 0 1 1"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <box size="1 1 1"/>
      </geometry>
    </collision>
  </link>

  <joint name="base_to_link1" type="fixed">
    <parent link="base_link"/>
    <child link="link_1"/>
    <origin xyz="0 0 0"/>
  </joint>

  <!-- Second link -->
  <link name="link_2">
    <inertial>
      <origin xyz="0 0 1.5"/>
      <mass value="0.5"/>
      <inertia ixx="0.005" ixy="0" ixz="0" iyy="0.005" iyz="0" izz="0.005"/>
    </inertial>
    <visual>
      <origin xyz="0 0 1.5"/>
      <geometry>
        <cylinder length="3" radius="0.5"/>
      </geometry>
      <material name="red">
        <color rgba="1 0 0 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 1.5"/>
      <geometry>
        <cylinder length="3" radius="0.5"/>
      </geometry>
    </collision>
  </link>

  <joint name="joint_1" type="continuous">
    <parent link="link_1"/>
    <child link="link_2"/>
    <origin xyz="0 0 0.5"/>
    <axis xyz="0 1 1"/>
  </joint>

</robot>
